* {
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'DotGothic16', sans-serif;
    background-color: #000149;
    color: mediumaquamarine;
    min-height: 100%;
    
    display: flex;
    flex-direction: column;
}

header {
    padding: 3em;
    text-align: center;
}

main {
    overflow: auto;
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .center {
    padding: 10px;
    margin: auto;
    color: black; /* Blockly UI font color */
    display: flex;
}

#metacar {
    margin-right: 10px;
}

#blockly {
    height: 600px;
    width: 1200px;
}

.execution {
    display: flex;
    position: relative;
    z-index: 1;
    bottom: 30px;
    left: 15px;
}

.execution button {
    width: 30px;
    height: 30px;
    font-size: 15px;

    margin: 5px;
    padding: 5px;
    
    border: none;
    border-radius: 200px;
    background-color: mediumspringgreen;

    cursor: pointer;
    box-shadow: 2px 2px 20px #444444;
}

.execution button:hover {
    box-shadow: 3px 3px 30px #222222;
}

.execution .run {
    display: block;
}

.execution .stop {
    display: none;
}

.execution.running .run {
    display: none;
}

.execution.running .stop {
    display: block;
}

footer {
    text-align: center;
    margin-bottom: 20px;
}
